pkgbase = linux-rust
	pkgdesc = Rust Linux
	pkgver = 6.9.7.arch1
	pkgrel = 2
	url = https://github.com/archlinux/linux
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = llvm
	makedepends = lld
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rustup
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = texlive-latexextra
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.9.7.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.9.7.tar.sign
	source = https://github.com/archlinux/linux/releases/download/v6.9.7-arch1/linux-v6.9.7-arch1.patch.zst
	source = https://github.com/archlinux/linux/releases/download/v6.9.7-arch1/linux-v6.9.7-arch1.patch.zst.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = e4f588cd91eef9d461e5e14fdf9415feff8a72fbcc274089a0f768a58de001f8
	sha256sums = SKIP
	sha256sums = 64c589c6f1177bcbaf7f76ab54aa51785f96bf2e32d23407f871b0348388c85a
	sha256sums = SKIP
	sha256sums = 07e5a91961148dd960ac5b98a843fc19cda274c58a2bd6ca093cc212e83f8dc1
	b2sums = 67b49d64f8ceba02dc1eade59991c683c81a533eec7105466d235898de2cee692aa5730d538a33bb04f1b0260e9dcbf63b332ddfab42a7d44425c9a9d8410d77
	b2sums = SKIP
	b2sums = 66b713330a9fada066b7fc79b52d3f508a5bf069b32fe301c4ffbe444c25971e0f338bc8fdef6c237b6899448a2501872f69a4abb8ac4c81eefeedd65933c252
	b2sums = SKIP
	b2sums = feebadb9a5a5421172c21822c7a029cfe9034bba9dc9e09ef04db87866289f29d26d1a0a793d3d40a188d72f523346443cd8b8a42fa282b2bd475e6bc6a4d521

pkgname = linux-rust
	pkgdesc = The Linux kernel and modules with support for Rust written modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-rust-headers
	pkgdesc = Headers and scripts for building modules for the Rust Linux kernel
	depends = pahole

pkgname = linux-rust-docs
	pkgdesc = Documentation for the Rust Linux kernel
