pkgbase = linux-rust
	pkgdesc = Rust Linux
	pkgver = 6.12.8.arch1
	pkgrel = 1
	url = https://github.com/rnestler/archpkg-linux-rust
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = llvm
	makedepends = lld
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rustup
	makedepends = rust-bindgen
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = python-yaml
	makedepends = texlive-latexextra
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.12.8.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.12.8.tar.sign
	source = https://github.com/archlinux/linux/releases/download/v6.12.8-arch1/linux-v6.12.8-arch1.patch.zst
	source = https://github.com/archlinux/linux/releases/download/v6.12.8-arch1/linux-v6.12.8-arch1.patch.zst.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = 2291da065ca04b715c89ee50362aec3f021a7414bc963f1b56736682c8122979
	sha256sums = SKIP
	sha256sums = 202f4544fd15052b066a36c0664160c6f8140a0af78bbb6750478a6fb1dc08e5
	sha256sums = SKIP
	sha256sums = b9c56ce75bc48cd72b1a835a2755e9213948859aeff7519d70bd5c07e6729612
	b2sums = 62a3f435bbe7d24bea361f2545ba50f8b36030a98bd28d0979b86052d8af34dc7a4c27f7ca2890daba5e5bb51f5848e6b21cd5df4dbbd19919867bf67d38790d
	b2sums = SKIP
	b2sums = 50b823efe59b2f5ab7d7f18d507931e77bc30eadf39729bad192b7966dd4eaba1e921c856a1b340dfad126ae85d601cbb83accbff461789c5e1720e05ac95455
	b2sums = SKIP
	b2sums = 24724bea152a7a2d6d647a79ffda45abc63b484ca908415e37326f930b7a72a6d7186dc12e5bf60237b5a351d7ff5a2aa33f1b15f3bf81497ffeb145c4786889

pkgname = linux-rust
	pkgdesc = The Linux kernel and modules with support for Rust written modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-rust-headers
	pkgdesc = Headers and scripts for building modules for the Rust Linux kernel
	depends = pahole

pkgname = linux-rust-docs
	pkgdesc = Documentation for the Rust Linux kernel
