pkgbase = linux-rust
	pkgdesc = Rust Linux
	pkgver = 6.10.10.arch1
	pkgrel = 1
	url = https://github.com/archlinux/linux
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = llvm
	makedepends = lld
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rustup
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = texlive-latexextra
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.10.10.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.10.10.tar.sign
	source = https://github.com/archlinux/linux/releases/download/v6.10.10-arch1/linux-v6.10.10-arch1.patch.zst
	source = https://github.com/archlinux/linux/releases/download/v6.10.10-arch1/linux-v6.10.10-arch1.patch.zst.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = e687e735b5eb9efb6d67b42433c93fc9118106a995514f062652873b5e809bcd
	sha256sums = SKIP
	sha256sums = 064b9841dd6738e8a6f8859743c66e0d603541b6afa021ab98ea7e3623fca108
	sha256sums = SKIP
	sha256sums = e7a42100a4cb9c5999c3c8ec5dd2c88f6bda48b7cdd6181f36439f2d013edeee
	b2sums = 8a15910089d080886046b1fd8d57ef28ce872bf428e67ccbc9d5ca92da794d6dee7ab83cc914a499b40962e2990c3b1e5b11ae7d12c1eff7bec548c9a67df03a
	b2sums = SKIP
	b2sums = 06b8f21c167f3376a62f9bd0d3e0275a4ba32736aaa5d7fb94a07e99445186ab8f9426468d33c00fd43c52c52ffdb3ee77e6802db0781ffad6b8d74cdc4951a1
	b2sums = SKIP
	b2sums = fe0e3040d026e8f218e606b022bf1ce2c4a1d38cd9780fcd6eaefaadee7cba8dd6bc6bc9af4becb598a04b53183066e8c6428e782081a98526f19a93899008d1

pkgname = linux-rust
	pkgdesc = The Linux kernel and modules with support for Rust written modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-rust-headers
	pkgdesc = Headers and scripts for building modules for the Rust Linux kernel
	depends = pahole

pkgname = linux-rust-docs
	pkgdesc = Documentation for the Rust Linux kernel
